node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.coverage.*
.cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
*.log
logs
*.pid
*.seed
*.pid.lock
dist
.DS_Store
.vscode
.idea
*.tgz
*.tar.gz
